

<%- include("../layouts/header.ejs") %>

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
          <%
            if(typeof message !== "undefined"){
          %>
           <p style="color: rgba(244, 4, 4, 0.932);"><%= message%></p>
            
          <% } %>
  
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Welcome to Lotus Team</h4>
                </div>

                <form action="/admin/newuser" method="post" enctype="multipart/form-data">
                  <p>Add new user</p>

                  <div class="form-outline mb-4">
                      <input type="file" name="image" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Image</label>
                    </div>

                  <div class="form-outline mb-4">
                    <input type="text" name="name" id="form2Example11" class="form-control"
                      placeholder="Type your Full Name" required/>
                    <label class="form-label" for="form2Example11">Name</label>
                  </div>

                  <div class="form-outline mb-4">
                      <input type="email" name="email" id="form2Example22" class="form-control" placeholder="Type your Email Address"
                       required />
                      <label class="form-label" for="form2Example22">Email Address</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="tel" name="mobile" id="form2Example22" class="form-control" 
                      placeholder="Type your Mobile Number"
                       required />
                      <label class="form-label " for="form2Example22">Mobile Number</label>
                    </div>


                    <div class="text-center pt-1 mb-5 pb-1">
                      <input type="submit" value="Add user">
                    </div>

                </form>

                <a href="/admin/admindashboard">back</a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <%- include("../layouts/footer.ejs") %>